<section class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="card mb-3 shadow">
        <div class="card-body">
          <div class="text-center mb-4">
            <h1>Ingreso de Series</h1>
          </div class="container-flex">
            <%= form_with(model: @serie, url: series_create_path) do |form| %>
              <%= form.label :Nombre, class: "mt-2 titulos" %>
              <%= form.text_field :name, class: 'form-control mt-2' %>

              <%= form.label :Sinopsis, class: "mt-2 titulos" %>
              <%= form.text_area :synopsis, class: 'form-control mt-2' %>

              <%= form.label :Director, class: "mt-2 titulos" %>
              <%= form.text_field :director, class: 'form-control mt-2' %>

            <div class="row text-center">

              <div class="col-6">
              <%= link_to 'Listado de Series', series_index_path, class: 'btn btn-warning btn-lg mt-3' %>
              </div>
              <div class="col-6">
                <%= form.submit 'Guardar Series', class: 'btn btn-dark btn-lg mt-3' %>
              </div>

            </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
